/*הטמעת פונטים*/

@font-face {
    font-family: 'OS Aran_400FFC';
    src: url('../OS Aran_400FFC/OS Aran_400FFC.eot') format('embedded-opentype');
    src: url('../OS Aran_400FFC/OS Aran_400FFC.ttf') format('truetype');
    src: url('../OS Aran_400FFC/OS Aran_400FFC.woff') format('woff');
}

@font-face {
    font-family: 'OS Aran_W_500FFC';
    src: url('../OS Aran_W_500FFC/OS Aran_W_500FFC.eot') format('embedded-opentype');
    src: url('../OS Aran_W_500FFC/OS Aran_W_500FFC.ttf') format('truetype');
    src: url('../OS Aran_W_500FFC/OS Aran_W_500FFC.woff') format('woff');
}

/*הגדרות עמוד*/
body {
    direction: rtl;
    background-color: #568587;
}

#container {
    margin: 0 auto;
    width: 1280px;
}

    #container * {
        font-family: 'OS Aran_400FFC';
    }

/*דלג לתוכן העמוד*/
#skip_to_content {
    color: white;
    font-size: 14pt;
}

    #skip_to_content:focus {
        background-color: #c4bb84;
    }


/*תפריט ניווט ראשי*/

.navTop{
margin-right:-34px;
margin-top:-35px
}

.navTop ul {
    list-style: none;
    position: relative;
    top: 56px;
    right: 16px;
    z-index: 1;
}

    .navTop ul li {
        display: inline-block;
        float: right;
        margin-top: 28px;
        margin-right: 8px;
        margin-left: -4px;
        margin-bottom: 3px;
    }

        .navTop ul li a {
            display: inline-block;
            text-decoration: none;
            list-style: none;
            text-align: center;
            font-weight: bold;
            color: black;
            background-color: #c4bb84;
            border: 1px solid black;
            width: 138px;
            height: 20px;
            padding-top: 14px;
            margin-right: 12px;
            border-radius: 7px;
            padding-bottom: 20px;
            margin-top: -16px;
            margin-bottom: -16px;
            font-size: 16pt;
        }

            .navTop ul li a:hover {
                background-color: #AD4B5E;
                color: white;
            }

            .navTop ul li a:focus {
                background-color: #AD4B5E;
                color: white;
            }

        .navTop ul li:hover a span {
            background-color: #AD4B5E;
            width: 125px;
            border-radius: 13px;
            height: 20px;
        }

        .navTop ul li:focus a span {
            background-color: #AD4B5E;
            width: 125px;
            border-radius: 13px;
            height: 20px;
        }


        /*תפריט נפתח*/

        .navTop ul li ul {
            display: none;
            position: absolute;
        }

        .navTop ul li:hover ul {
            display: block;
            width: 125px;
            right: 0px;
        }

        .navTop ul li:focus ul {
            display: block;
            width: 125px;
            right: 0px;
        }

.notActive {
    cursor: not-allowed;
}


/*לוגו*/

#logo {
    position: relative;
    right: 342px;
    top: 25px;
    height: 107px;
}

/*כותרת עמוד*/

#koteret {
    float: right;
    font-family: 'OS Aran_W_500FFC';
    text-align: center;
    font-size: 48pt;
    background-color: #9BD1D5;
    width: 380px;
    height: 70px;
    position: relative;
    padding-left: 4px;
    top: 350px;
    right: 43px;
    opacity: 0.85;
    border-radius: 7px;
    z-index: -1;
}


/*תמונה ראשית*/

#italianFood {
    float: right;
    width: 1200px;
    position: relative;
    bottom: 35px;
    right: 43px;
    z-index: -1;
}


/*מלבן צהוב כרקע*/

#yellowPage {
    background-color: #F7F4BE;
    width: 1200px;
    height: 1761px;
    position: relative;
    top: 420px;
    right: 43px;
    z-index: -1;
}


/*תפריט פירורי לחם*/
#navPages ol {
    padding-top: 25px;
    position: relative;
    top: 457px;
    right: -285px;

}

    #navPages ol li {
        display: inline-block;
        font-size: 16pt;
        list-style: none;
    }

    #navPages ol li a {
        color: black;
    }

    #navPages ol li:after {
        content: " >";
    }

    #navPages ol li:last-child:after {
        content: "";
    }

        

/*הנחיות ראשיות לשימוש בדף*/
#instructions {
    text-align: justify;
    font-size: 25pt;
    position: absolute;
    top: 63px;
    right: 55px;
}

/*הסבר אייקון*/
#nonAlcoholicTxt {
    font-size: 20pt;
    text-align: justify;
    position: absolute;
    top: 146px;
    right: 94px;
}

#noAlcoholImg {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 211px;
    bottom: -4px;
}
/*שולחן קוקטיילים*/

#drinks {
    float: right;
    position: relative;
    bottom: 929px;
    right: 42px;
}

.allCups {
    float: right;
    position: relative;
    right: 36px;
    z-index: 1;
    bottom: 152px;
}

.border{ /*מסגרת קוקטיילים*/
    border: 2px solid black;
    height:326px;
    width: 205px;
    margin-right: 54px;
}

.cocktailButton { /*כפתור מתחת לקוקטיילים*/
    float: right;
    margin-top: -71px;
    margin-right: 2px;
    width: 261px;
    height: 69px;
}

/*קוקטיילים וכפתורים*/
#aperol{
    width: 170px;
    height: 315px;
    float: right;
    margin-right:50px;
    margin-top: -64px;
}

#textButton1 {
    position: absolute;
    float: right;
    right: 92px;
    bottom: 24px;
    color: white;
    font-size: 21pt;
    z-index: 1;
}

#campari {
    width: 193px;
    height: 162px;
    float: right;
    margin-right: 40px;
    margin-top: 89px;
}

#bigNoAlcoholImg{
    width:46px;
    height: 50px;
    float: right;
    position: relative;
    right: 201px;
    bottom: 308px;
}

#textButton2 {
    position: absolute;
    float: right;
    right: 128px;
    bottom: 74px;
    color: white;
    font-size: 21pt;
    z-index: 1;
}

#grappa {
    width: 192px;
    height: 260px;
    float: right;
    margin-right: 44px;
    margin-top: -8px;
}

#textButton3 {
    position: absolute;
    float: right;
    right: 127px;
    bottom: 24px;
    color: white;
    font-size: 21pt;
    z-index: 1;
}

#wine {
    width: 181px;
    height: 293px;
    float:right;
    margin-right:38px;
    margin-top:-41px;
}

#textButton4 {
    position: absolute;
    float: right;
    right: 116px;
    bottom: 24px;
    color: white;
    font-size: 21pt;
    z-index:1;
}

/*שולחן*/
#table {
    position: relative;
    width: 1201px;
    bottom: 736px;
    z-index: -1;
}

/*תוכן מתכון*/
#recipe {
    position: relative;
    bottom: 1827px;
    right: 45px;
}

#aperolTitle {
    float: right;
    font-size: 33pt;
    text-align: justify;
    position: absolute;
    top: 1162px;
    right: 76px;
}

#ingredients {
    float: right;
    font-size: 28pt;
    text-align: justify;
    position: absolute;
    top: 1217px;
    right: 76px;
}

#ingredientsList {
    float: right;
    font-size: 25pt;
    text-align: justify;
    position: absolute;
    top: 1272px;
    right: 75px;
}

#instructionsRecipe {
    float: right;
    font-size: 28pt;
    text-align: justify;
    position: absolute;
    top: 1447px;
    right: 76px;
}

#instructionsList {
    float: right;
    font-size: 25pt;
    text-align: justify;
    position: absolute;
    top: 1488px;
    right: 76px;
}

#guide {
font-weight: bold;
}

/*צלחת פסטה*/
#pastaPlate {
    float: right;
    width: 412px;
    margin-right: 24px;
    margin-top: -1042px;
}

/*תמונת אפרול*/
#bigAperol {
    float: left;
    position: relative;
    left: 188px;
    bottom: 1618px;
    height: 867px;
}


/*פוטר*/
#footer {
    position: relative;
    bottom: 1510px;
    right: 41px;
    width: 1203px;
}


/*מפת אתר*/
#map {
    position: relative;
    bottom: 1510px;
    right: 218px;
}

.title3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.alcoholFood {
    width: 300px;
    height: 203px;
    padding-right: 10px;
    padding-top: 10px;
}

    .alcoholFood > ul > li > a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

.alcohol {
    position: absolute;
    right: 204px;
    top: 0px;
    width: 300px;
    height: 203px;
    padding-right: 10px;
    padding-top: 10px;
}

    .alcohol > ul > li > a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

.taste {
    width: 300px;
    height: 203px;
    float: right;
    position: absolute;
    right: 385px;
    top: 0px;
    padding-right: 10px;
    padding-top: 10px;
}

    .taste > ul > li > a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

.barmen {
    float: right;
    position: absolute;
    right: 604px;
    top: 0px;
    width: 219px;
    height: 203px;
    padding-right: 10px;
    padding-top: 10px;
}

    .barmen > ul > li > a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }


/*כפתורי פוטר*/
#about {
    position: relative;
    right: 407px;
    bottom: 1456px;
    width: 117px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: #c4bb84;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 12pt;
    height: 40px;
    padding-top: 18px;
}

#contact {
    position: relative;
    right: 431px;
    bottom: 1456px;
    width: 117px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: #c4bb84;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 12pt;
    height: 40px;
    padding-top: 18px;
}

#use {
    position: relative;
    right: 456px;
    bottom: 1456px;
    width: 117px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: #c4bb84;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 12pt;
    height: 40px;
    padding-top: 18px;
}


.headLinesBottom {
    color: black;
    text-decoration: none;
}

#line {
    width: 1200px;
    height: 6px;
    position: relative;
    bottom: 1480px;
    right: 42px;
}


/*הורדת קו תחתון לקישורים*/

.noline {
    text-decoration: none;
    color: black;
}

    .noline:visited {
        color: black;
    }

.notVisited {
    color: black;
}



.animation:hover {
    transform: scale(1.3);
}

.animation:focus {
    transform: scale(1.3);
}

/*כל הזכויות שמורות*/
#copyRight {
    font-size: 18pt;
    color: white;
    margin-right: 464px;
    position: relative;
    top: -1425px;
}